*{
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
header{
  position: relative;
  height: $header-height;
  width: 100%;
  background: $header-bg-color;
  color: $footer-text-color;
  margin-bottom: 80px;

  .logo{
    img{
      display: block;
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      z-index: 20;
    }
  }

  .triangle {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 30px solid $header-bg-color;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    z-index: 2;
  }
}
.row{
  width: 1200px;
  margin: 0 auto;
}
main{
  @include clearfix;
  .left-col{
    width: 60%;
    float: left;
    @include clearfix;
  }
  .right-col{
    width: 40%;
    float: left;
    @include clearfix;

    &__menu{
      @include hexagon(200px, 300px, $header-bg-color, 25px, 100px, 25px);
      padding: 10px 0;
      position: absolute;
      top: 160px;
      margin-left: 80px;
      opacity: 1;
      p{
        text-align: center;
        line-height: 20px;
      }
      a{
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  padding-top: 50px;
  background: $footer-bg-color;
  color: $footer-text-color;

}
